name: build

on:
  - pull_request
  - push

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0
      - name: Set up Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'microsoft'
          java-version: 21
      - name: Setup Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.25.5'
      - name: Install Packwiz
        run: go install github.com/packwiz/packwiz@52b12301
      - name: Build
        run: |
          chmod +x ./build.sh
          ./build.sh
      - name: Upload Artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: artifacts
          path: out
